.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  &__headline {
    margin-bottom: 15px;
  }

  &__subHeadline {
    margin-bottom: 40px;
  }

  &__weatherRecommendations {
    flex-direction: column;
    display: flex;
    gap: 20px;
  }

  &__weatherRecommendationsElement {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  &__weatherRecommendationsElementImg {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(135.76deg, rgba($color-gallery, 0.1) 14.97%, rgba($color-gallery, 0.3) 85.3%);
    border: 1px solid rgba($color-gallery, 0.5);
    backdrop-filter: blur(50px);
  }

  @media (min-width: $lg) {
    padding-left: 50px;
  }
}
