.detail {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $lg) {
    &__title {
      margin-bottom: 40px;
    }

    &__content {
      gap: unset;
      flex-direction: row;
    }
  }
}
