// https://chir.ag/projects/name-that-color/#6195ED
$color-white: #fff;
$color-gallery: #efefef;
$color-lavender: #e763e8;
$color-royal-blue: #5063f0;
$color-black: #000;
$color-light-black: rgb(0 0 0 / 70%);
