.headline-1 {
  font-family: var(--headline-font-family);
  font-weight: 800;
  font-size: 48px;
  color: var(--font-color);
}

.headline-2 {
  font-family: var(--headline-font-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--font-color);
}

.headline-3 {
  font-family: var(--headline-font-family);
  color: var(--font-color);
  font-size: 24px;
}
