$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

.headline-1 {
  font-weight: $font-weight-extra-bold;
  font-size: 48px;
}

.headline-2 {
  font-weight: $font-weight-bold;
  font-size: 36px;
  line-height: 1.3;
}

.headline-3 {
  font-size: 24px;
  line-height: 1.3;
}

.paragraph {
  font-family: var(--paragraph-font-family);
  font-size: 18px;
}

.caption {
  font-family: var(--paragraph-font-family);
  font-size: 14px;
  font-weight: $font-weight-medium;
}
