@import "./reset";
@import "./colors";
@import "./breakpoints";
@import "./variables";
@import "./typography";
@import "./generic";

body {
  background: linear-gradient(135deg, rgb(231 99 232 / 100%) 0%, rgb(80 99 240 / 100%) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
  font-family: var(--headline-font-family);
  padding: 0 20px;

  @media (min-width: $md) {
    padding: 0 40px;
  }
}

#__next {
  width: 100%;
  max-width: 1200px;
}
