.header {
  height: var(--headline-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.footer {
  min-height: var(--footer-height);
  display: flex;

  &__content {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__caption {
    color: $color-white;
  }
}
