.container {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;

  &__content {
    display: flex;
    height: 246px;
    align-items: center;
  }

  &__slideContainer {
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
  }

  &__slide {
    @include glass;

    height: 240px;
    width: 160px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__slide--current {
    background: linear-gradient(152.5deg, $color-lavender 5.32%, $color-royal-blue 94.53%);
  }

  &__slideTemperature {
    font-weight: 400;
  }

  @media (min-width: $md) {
    margin-top: 80px;

    &__slideContainer {
      flex: 0 0 200px;
    }

    &__slide {
      width: 180px;
    }
  }
}
