.container {
  @include glass;

  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 30px;

  &__currentState {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__currentStateTemperature {
    color: var(--font-color);
    font-size: 56px;
    font-weight: 900;
  }

  &__currentStateConditions {
    text-align: center;
  }

  &__conditions {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__conditionsElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__conditionsElementDescription {
    font-weight: $font-weight-semibold;
  }

  @media (min-width: $lg) {
    width: 474px;
    gap: 40px;

    &__currentStateTemperature {
      font-size: 72px;
    }

    &__conditions {
      gap: 70px;
    }
  }
}
